<a href="https://colab.research.google.com/github/Ayan2109/Classification-Algorithms/blob/main/NeuralNetworkFinalproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import keras
import pandas as pd 
import numpy as np

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Reading csv file

In [ ]:
df = pd.read_csv('https://cocl.us/concrete_data')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [ ]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Checking if the data is clean

In [ ]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Dividing the data set into independent and dependent variables i.e X and Y

In [ ]:
X = df[['Cement', 'Blast Furnace Slag','Fly Ash', 'Water', 'Superplasticizer','Coarse Aggregate','Fine Aggregate','Age']]
Y = df[['Strength']]
print(X.shape)
print(Y.shape)

(1030, 8)
(1030, 1)

In [ ]:
from keras.models import Sequential 
from keras.layers import Dense
from sklearn.model_selection import train_test_split

#splitting the data into 30% for testing and 70% for training
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 4)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [ ]:
# Creating the regression model
def regression_model():
    model = Sequential()
    n_cols = X.shape[1]

    model.add(Dense(10, activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    
    return model

In [ ]:

from sklearn.metrics import mean_squared_error

# function to calculate mean squared error for the model 50 times and store it in a list
def training_model(X_train, X_test, Y_train, Y_test):
    list_mse = []
    
    
    for x in range(50):
        
        model = regression_model()
        model.fit(X_train,Y_train, validation_data=(X_test, Y_test), epochs = 50, verbose = 0)
        yhat = model.predict(X_test)
        list_mse.append(mean_squared_error(Y_test,yhat))
        
    return list_mse

In [ ]:
#list of 50 mean squared errors from the iterations
list_of_mse = training_model(X_train, X_test, Y_train, Y_test)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2022-05-05 11:55:27.497838: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2022-05-05 11:55:27.503475: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2593900000 Hz
2022-05-05 11:55:27.504140: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x5587441b4590 executing computations on platform Host. Devices:
2022-05-05 11:55:27.504183: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-05-05 11:55:27.580102: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

In [ ]:
#printing and caclulating the list, standard deviation for the list and the mean for the list of Part A
print('List of MSE: {}'.format(list_of_mse))
std_A = np.std(list_of_mse)
mean_A = np.mean(list_of_mse)
print('Standard Deviation: {0:.3f}'.format(std_A))
print('Mean: {0:.3f}'.format(mean_A))

List of MSE: [127.80881974304131, 1705.211548304328, 319.51974486135254, 770.0533794329504, 155.00944894804525, 298.1063927639839, 317.78870299058264, 281.1567400611076, 213.23736525254256, 183.9777968838942, 121.91847056387988, 587.2485931941657, 361.4842764620646, 315.6400570427317, 330.8804775125685, 1905.3868875661353, 126.44095423311937, 224.36284457762855, 543.7560018493233, 138.30504825022572, 286.8275879678651, 237.35563703467994, 120.58797957145106, 223.26684925498256, 203.8462521735834, 275.00616971327094, 137.82391703435917, 234.16411539674138, 297.554406992183, 156.25900982967175, 635.117954891442, 145.22640021915836, 199.47968441526356, 118.18144813746423, 757.8162650482851, 131.40124867112604, 243.26681601689774, 189.47508962654092, 134.93163258440876, 147.5187779900004, 200.5342318954957, 200.23445804671366, 162.7443488061502, 1144.0780996416943, 165.28490880930423, 220.8001810884932, 125.0198766516457, 131.763421610506, 130.029127118838, 848.4009867149248]
Standard Deviation: 367.082
Mean: 344.626

Part B: Using Normalized Data

In [ ]:
# Normalizing the data using preprocesssing from sklean
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

#train test split for normalized data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 4)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#calling the function to store the list of mean squared errors
list_of_mse_normalizeddata = training_model(X_train, X_test, Y_train, Y_test)

In [ ]:
#printing and caclulating the list, standard deviation for the list and the mean for the list of Part B
print('List of MSE for Normalized Data {}:'.format(list_of_mse_normalizeddata))
std_B = np.std(list_of_mse_normalizeddata)
mean_B = np.mean(list_of_mse_normalizeddata)
print('Standard Deviation for Normalized Data {0:.3f}:'.format(std_B))
print('Mean for Normalized Data: {0:.3f}'.format(mean_B))

List of MSE for Normalized Data [592.7222390261418, 724.6893657462159, 297.39235134204415, 250.9006871160399, 299.07083620078885, 289.85150824003, 300.19575666532154, 535.3977804765808, 387.76644314784585, 312.6343442204327, 325.33150708072264, 336.952639049529, 413.80070542937983, 317.72565266873676, 359.459643504284, 306.14358424798473, 703.7532372203515, 487.85837183608623, 330.46534386439345, 378.7052073719548, 265.62023154085966, 351.7645518922079, 272.39268713923065, 436.2032290080492, 494.91541213332187, 379.298308836202, 360.73444959372193, 322.6195514549114, 289.6289286282455, 831.3148732921378, 419.6145692949797, 341.4906297854656, 418.93335821925234, 315.36849560719224, 404.2479730375691, 422.5363930689856, 503.67380526219813, 345.27119981376154, 336.3716738255904, 296.0716853881329, 319.46225612484415, 338.31751661530853, 278.663006364608, 359.8937127843972, 371.1562621050418, 381.356684061439, 350.63694905260394, 276.607960486306, 256.4522362188377, 496.535626659544]:
Standard Deviation for Normalized Data 120.147:
Mean for Normalized Data: 383.759

In [ ]:
print('Mean for part A:{0:.3f}'.format(mean_A))
print('Mean of Part B: {0:.3f}'.format(mean_B))

Mean for part A:344.626
Mean of Part B: 383.759

In [ ]:
# comparing the mean for Part B and Part A
print('Mean of Part B is {0:.3f} more than Part A'.format(mean_B-mean_A))

Mean of Part B is 39.134 more than Part A

PART C: using 100 Epochs to build Training model

In [ ]:
# list to store mean squared errors for part C
list_of_mse_Part_C =[]

#Calculating 50 mean squared errors but with epoch set at 100
for x in range(50):
    model = regression_model()
    model.fit(X_train,Y_train, validation_data=(X_test, Y_test), epochs = 100, verbose = 0)
    yhatC = model.predict(X_test)
    list_of_mse_Part_C.append(mean_squared_error(Y_test,yhatC))

In [ ]:
#printing and caclulating the list, standard deviation for the list and the mean for the list of Part C

print('List of MSE: {}'.format(list_of_mse_Part_C))
std_C = np.std(list_of_mse_Part_C)
mean_C = np.mean(list_of_mse_Part_C)
print('Standard Deviation: {0:.3f}'.format(std_C))
print('Mean: {0:.3f}'.format(mean_C))

List of MSE: [177.40095069380308, 196.9227673960592, 182.9059420434841, 179.5361710606211, 166.26610060365627, 168.09103146433506, 169.1557968152035, 163.43780152873208, 170.24013322916284, 168.251195650801, 179.54910129456815, 166.45442875033035, 175.00607068748866, 163.45474273063476, 187.60559397811926, 162.53065173623702, 168.57389860525598, 170.40245009266746, 181.1008767695693, 186.05955664771463, 167.097095106974, 192.92842576375037, 186.9944724869252, 178.91779391578663, 176.77750678329346, 201.29251497734964, 171.9575366028507, 187.40034408261826, 172.18649593757385, 184.8811077788933, 171.67952369444902, 183.11243685613593, 173.11397894287768, 170.63202481242143, 175.35595668602923, 172.94982908990426, 201.07108572256422, 176.99336369811536, 170.2990823550843, 170.3793354060767, 160.44108033755194, 186.60880404895056, 155.87748909822864, 211.88935971921458, 180.43187462151565, 169.6937254493493, 190.14325473101997, 203.2008961308456, 219.22309653676382, 195.71919130076424]
Standard Deviation: 13.290
Mean: 178.844

In [ ]:
print('Mean for Part B: {0:.3f}'.format(mean_B))
print('Mean for Part C: {0:.3f}'.format(mean_C))

Mean for Part B: 383.759
Mean for Part C: 178.844

In [ ]:
# Comparing Mean for Part C and Part B
print('Mean for Part C is {0:.3f} less than Part B'.format(mean_B - mean_C))

Mean for Part C is 204.916 less than Part B

PART D: Increasing the Number of Hidden layers

In [ ]:
#creating the new regresssion model with 3 hidden layers
def new_regression_model():
    
    model = Sequential()
    n_cols = X.shape[1]
    # 3 hidden layers
    model.add(Dense(10, activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(10, activation = 'relu'))
    model.add(Dense(10, activation = 'relu'))
    model.add(Dense(1))
    
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    
    return model

In [ ]:
# list to input the mean squared error
list_of_mse_Part_D =[]

#calculating mean squared error 50 times
for x in range(50):
    model = new_regression_model()
    model.fit(X_train,Y_train, validation_data=(X_test, Y_test), epochs = 50, verbose = 0)
    yhatD = model.predict(X_test)
    list_of_mse_Part_D.append(mean_squared_error(Y_test,yhatD))

In [ ]:
#printing and caclulating the list, standard deviation for the list and the mean for the list of Part D

print('List of MSE: {}'.format(list_of_mse_Part_D))
std_D = np.std(list_of_mse_Part_D)
mean_D = np.mean(list_of_mse_Part_D)
print('Standard Deviation: {0:.3f}'.format(std_D))
print('Mean: {0:.3f}'.format(mean_D))

List of MSE: [109.54154863998032, 156.3220605156678, 140.54727995406807, 155.15605931084187, 155.102521892446, 137.49525195821008, 145.15388126148872, 157.481347614137, 115.54532453175091, 146.72532518767588, 150.00648987309177, 148.10326930053776, 134.92022240432158, 143.0580091645183, 123.33118120009756, 139.52615462549494, 137.1783854408178, 141.94622460825454, 137.60705931336162, 121.3227232403957, 144.9862977723237, 152.8731230539416, 149.57365035301427, 149.2268859932808, 146.42464378252382, 146.20847644901033, 143.51234307753526, 110.59352627072072, 107.40529204132503, 115.73511938788754, 137.06756201741874, 148.36265605060476, 136.79428699675663, 144.47233289631987, 157.45842314899906, 145.84672507884486, 132.40369337185442, 148.5202314438835, 155.45075341779267, 141.2949731102247, 126.36381201277179, 153.38113640369193, 137.02762500737023, 126.22247469505147, 144.1266356215412, 148.5911872308733, 142.97507192072575, 146.79351259159998, 143.18796272683645, 146.9090048428323]
Standard Deviation: 12.671
Mean: 140.517

In [ ]:
print('Mean for Part B: {0:.3f}'.format(mean_B))
print('Mean for Part D: {0:.3f}'.format(mean_D))

Mean for Part B: 383.759
Mean for Part D: 140.517

In [ ]:
# Comparing Mean for Part D and Part B

print('Mean for Part D is {0:.3f} less than Part B'.format(mean_B - mean_D))

Mean for Part D is 243.242 less than Part B